backend/node_modules
backend/uploads
backend/downloads
backend/.env
.git
.dart_tool
.idea
.vs
**/.DS_Store
build
ml
docs
android
ios
windows
linux
macos
test
lib
assets
web
scripts
tool
*.apk
*.md
pubspec.yaml
pubspec.lock
analysis_options.yaml
